=== AUTOMATED REPORTING SCRIPT ===

-- Daily Business Summary Report
-- Run this script daily to generate comprehensive business reports

\set REPORT_DATE :report_date

-- 1. BUSINESS OVERVIEW
SELECT '=== DAILY BUSINESS SUMMARY ===' as report_title;
SELECT CURRENT_DATE as report_date, :'REPORT_DATE' as period;

-- Sales Summary
SELECT
    COUNT(*) as total_sales,
    SUM(total_amount) as total_revenue,
    ROUND(AVG(total_amount), 2) as avg_sale_amount
FROM sales
WHERE DATE(created_at) = :'REPORT_DATE';

-- 2. INVENTORY STATUS
SELECT '=== INVENTORY ALERTS ===' as section;
SELECT
    p.name,
    p.current_stock,
    p.min_stock_level,
    CASE
        WHEN p.current_stock <= p.min_stock_level THEN 'REORDER NEEDED'
        WHEN p.current_stock <= (p.min_stock_level * 1.5) THEN 'LOW STOCK'
        ELSE 'OK'
    END as status
FROM products p
WHERE p.is_active = true
ORDER BY p.current_stock ASC;

-- 3. TOP PRODUCTS
SELECT '=== TOP PERFORMING PRODUCTS ===' as section;
SELECT
    p.name as product,
    COALESCE(SUM(si.quantity), 0) as units_sold,
    COALESCE(SUM(si.line_total), 0) as revenue
FROM products p
LEFT JOIN sale_items si ON p.id = si.product_id
LEFT JOIN sales s ON si.sale_id = s.id
WHERE DATE(s.created_at) = :'REPORT_DATE'
GROUP BY p.id, p.name
ORDER BY revenue DESC
LIMIT 10;

echo 'Report generated for :'REPORT_DATE'
